.homepage{
    background-color: rgba(246, 110, 110, 0.947);
    border: 2px solid black;
    padding: 10px 10px 15px 10px;
    max-width: 70px;
    margin-top: -12px;
    margin-left: -12px;
    border-bottom-right-radius: 30px;
}

